<footer class="bottom-section">
    <a href="#home">
        <div class="arrow-up">
            <button mat-fab style="background-color: #fa2759;">
                <mat-icon>expand_less</mat-icon>
            </button>
        </div>
    </a>
    <div class="footer">
        <div>
            <a routerLink="/imprint" (click)="scrollToTop()">Imprint</a> -
            <a routerLink="/data-protection" (click)="scrollToTop()">Data Protection</a>
        </div>
        <div class="icons">
            <a href="https://github.com/magdalena-ob" target="_blank">
                <img src="assets/icon/github-fill.png">
            </a>
        </div>
    </div>
</footer>