<div class="about-container grey-container">
    <div class="about" id="about">
        <div class="profile-small">
            <img src="assets/img/IMG_4251.jpg">
        </div>
        <div class="description">
            <h2>About me.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Quos incidunt reiciendis quisquam ex
                blanditiis.Eligendi, quasi!</p>
        </div>
    </div>
    <div class="story">
        <div class="cont-journey">
            <div class="icon-journey">
                <img src="assets/icon/walk-line.png">
            </div>
            <div class="text-journey">
                <p>Lorem, ipsumhic ... repellat nesciunt, quidem fugit.</p>
            </div>
        </div>
        <div class="cont-journey">
            <div class="icon-journey">
                <img src="assets/icon/heart-line.png">
            </div>
            <div class="text-journey">
                <p>Lorem, ipsumhic ... repellat nesciunt, quidem fugit.</p>
            </div>
        </div>
        <div class="cont-journey">
            <div class="icon-journey">
                <img src="assets/icon/search-line.png">
            </div>
            <div class="text-journey">
                <p>Lorem, ipsumhic ... repellat nesciunt, quidem fugit.</p>
            </div>
        </div>
        <div class="cont-journey">
            <div class="icon-journey">
                <img src="assets/icon/flight-takeoff-line.png">
            </div>
            <div class="text-journey">
                <p>Lorem, ipsumhic ... repellat nesciunt, quidem fugit.</p>
            </div>
        </div>
    </div>
</div>
