<div class="about-container grey-container">
    <div class="about" id="about">
        <div class="profile-small">
            <img src="assets/img/IMG_4251.jpg">
        </div>
        <div class="description">
            <h2>About me.</h2>
            <p>I love creating new concepts and implementing ideas, which is why I developed a passion for coding.<br>
               A few more things you need to know about me...</p>
        </div>
    </div>
    <div class="story" [@fadeIn]="playAnimation">
        <div class="cont-journey">
            <div class="icon-journey">
                <img src="assets/icon/walk-line.png">
            </div>
            <div class="text-journey">
                <p>Ready to start a new chapter as a web developer. Maybe at your company?</p>
            </div>
        </div>
        <div class="cont-journey">
            <div class="icon-journey">
                <img src="assets/icon/heart-line.png">
            </div>
            <div class="text-journey">
                <p>I'm passioned about nature, chocolate, music, dancing and french fries.</p>
            </div>
        </div>
        <div class="cont-journey">
            <div class="icon-journey">
                <img src="assets/icon/search-line.png">
            </div>
            <div class="text-journey">
                <p>Looking for a new adventure!</p>
            </div>
        </div>
        <div class="cont-journey">
            <div class="icon-journey">
                <img src="assets/icon/flight-takeoff-line.png">
            </div>
            <div class="text-journey">
                <p>My coding journey started in October 2020.</p>
            </div>
        </div>
    </div>
</div>
