<header class="header" [class.headerDark]="darkMode">
    <div class="logo">
        <img *ngIf="!darkMode" routerLink="/" src="assets/img/logo_white.png">
        <img *ngIf="darkMode" routerLink="/" src="assets/img/logo_black.png">
    </div>
    <!--Menu Web-->
    <div [class.darkLinks]="darkMode" class="hide-web">
        <a routerLink="/">HOME</a>
        <a href="#about">ABOUT</a>
        <a href="#portfolio">PORTFOLIO</a>
    </div>
    <!--Menu Mobile-->
    <div class="hide-mobile">
        <img *ngIf="!darkMode" routerLink="/" src="assets/img/menu_white.png">
        <img *ngIf="darkMode" routerLink="/" src="assets/img/menu_black.png">
    </div>
</header>
