.portfolio {
    padding-top: 24px;
    text-align: center;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-box {
   min-height: 60vh;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 105px;
    margin-right: 105px;
    max-width: 580px;
}

.skill-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 112px;
    min-width: 160px;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 40px;
    margin-bottom: 24px;
    color: black;
    cursor: default;
    font-weight: 500;
}

.icon-container {
    position: absolute;
    top: -27px;
    border-radius: 100%;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
    height: 54px;
    width: 54px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        object-fit: cover;
        height: 24px;
        width: 24px;
    }
}

.work-box {
    min-height: 100vh;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.secondary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #fa2759;
    cursor: pointer;
    outline: none;
    width: 105px;
    height: 54px;
    margin: 2px;
    padding: 8px;
    font-size: 18px;

    &:hover {
        background-color: #fa2759;
        color: white;
        transition: all 225ms ease-in-out;
    }
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 54px;
    padding-top: 24px;
    max-width: 748px;
}

.project {
    height: 350px;
    width: 350px;
    margin: 12px;
    position: relative;

    img {
        object-fit: cover;
        height: 350px;
        width: 350px;
        cursor: pointer;
    }
}

.info-project {
    /*pointer-events: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #f6f6f6d2;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

    h3 {
        color: #fa2759;
    }

    a{
        text-decoration: none;
    }
}

.project:hover .info-project {
    display: flex;
}

.btn-project {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #fa2759;
    color: #fa2759;
    cursor: pointer;
    outline: none;
    width: 105px;
    height: 54px;
    margin: 2px;
    padding: 8px;
    font-size: 18px;
    z-index: 3;

    &:hover {
        background-color: #fa2759;
        color: white;
        transition: all 225ms ease-in-out;
    }
}

@media (max-width: 460px) {
    .skill-container {
        height: 86px !important;
        min-width: 108px !important;
        margin-left: 4px !important;
        margin-right: 4px !important;
    }
}

@media (max-width: 560px) {
    .skill-container {
        height: 96px;
        min-width: 120px; 
    }
}

@media (max-width: 800px) {
    .skills {
        margin-left: unset;
        margin-right: unset;
    }

    .secondary-btn {
        width: 88px;
    }

    .work {
        margin-left: unset;
        margin-right: unset;
        max-width: 400px !important;
    }

    .portfolio {
        padding-bottom: unset;
    }
}

@media (max-width:  1170px) {
    .work {
        max-width: unset;
    }
}

@media (max-height: 580px) {
    .skill-box {
        min-height: 100vh;
    }
}



