<div class="imprint">
    <h1>Impressum</h1>

    <p>Foto: © FOTO MUR</p> <br>

    <p>Created my free logo at <a href="https://logomakr.com/">LogoMakr.com.</a></p>

    <p>The icons used are, among other things, from https://icons8.de and are licensed with the license Creative Commons
        Attribution-NoDervis 3.0 Unported. <br>
        <a href="https://icons8.com/icon/71256/angularjs">AngularJS icon by Icons8</a>
    </p>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Magdalena Obermayr<br /> Hafnerriegel 29a<br />
        8010 Graz</p>

    <h2>Kontakt</h2>
    <p>
        <!--Telefon: &#91;Telefonnummer&#93;<br />--> E-Mail: obermma@gmail.com
    </p>

    <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-
            generator.html</a></p>
</div>