<div class="imprint">
    <h1>Impressum</h1>

    Foto: © FOTO MUR <br>
    <br>
    Created my logo at LogoMakr.com.

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Magdalena Obermayr<br /> Hafnerriegel 29a<br />
        8010 Graz</p>

    <h2>Kontakt</h2>
    <p><!--Telefon: &#91;Telefonnummer&#93;<br />--> E-Mail: obermma@gmail.com</p>

    <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-
            generator.html</a></p>
</div>
