.imprint {
    display: flex;
    flex-direction: column;
    padding: 105px;
    color: black;

    @media (max-width: 1200px) {
        padding-top: 105px;
        padding-left: 32px;
        padding-right: 32px;
    }

}