.data-protection {
    display: flex;
    flex-direction: column;
    padding: 105px;
    color: black;

    @media (max-width: 1200px) {
        padding-top: 105px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3{
        font-size: 18px;
    }
    p {font-size: 16px;
    }
    a {
        font-size: 16px;
    }
}