/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    color: white;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 64px;
    cursor: default;
}

h2 {
    font-size: 36px;
    font-weight: normal;
    cursor: default;
}

p {
    font-size: 18px;
    cursor: default;
}

.black-container {
    background-color: #000000;
}

.grey-container {
    background-color: #1a1a1a;
}

.color1 {
    color: #fa2759;
}

.color2 {
    color: #2dfcd8;
}

.primary-btn {
    background-color: transparent;
    color: #2dfcd8;
    border: 2px solid #2dfcd8;
    cursor: pointer;
    outline: none;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 18px;
    width: 300px;

    &:hover {
        background-color: #2dfcd8;
        color: white;
        transition: all 225ms ease-in-out;
    }

    &:disabled {
        background-color: #2dfcd885;
    }
}

footer {
    color: #8491a0;
}

@media (max-height: 580px) {
    h1 {
        font-size: 56px !important;
    }
}
